crewai[azure]
crewai[azure-ai-inference]
crewai
crewai-tools
langchain
langchain-community
langchain-openai
langchain-groq
openai
langchain-text-splitters
pymilvus
pandas
flask
python-dotenv
kaggle
tqdm
faiss-cpu
beautifulsoup4
requests
markupsafe
tiktoken
flask-cors