crewai
crewai-tools
langchain
langchain-community
langchain-openai
langchain-text-splitters
pymilvus
pandas
flask
python-dotenv
kaggle
tqdm
faiss-cpu
beautifulsoup4
requests
markupsafe
tiktoken